<html>
	<div class="youtube-PyData-Global-2023-session-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.id }}" title="PyData Global 2023 session, Shaurya Agarwal" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>< iframe>
	</div>
	<style>
		.youtube-PyData-Global-2023-session-container {
			position: relative;
			padding-bottom: 56.25%;
			height: 0;
			overflow: hidden;
			max-width: 100%;
		}
		.youtube-PyData-Global-2023-session-container iframe,
		.youtube-PyData-Global-2023-session-container object,
		.youtube-PyData-Global-2023-session-container embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	</style>
</html>  